*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:"Lexend Deca",sans-serif;
    min-height:100vh;
    display:flex;
    align-items:center;
    font-size:15px;
    font-weight:400;
}
.container{
    max-width:960px;
    margin:0 auto;
    
}
.wrapper{
    width:800px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width:960px;
    border-radius:10px;
    overflow:hidden;
    margin:2rem;
    
}
.box{
    padding:40px;
   
}
.box h2{
    font-family: "Big Shoulders Display", sans-serif;
    color:white;
    font-size:30px;
    margin-bottom: 20px;
}
.box img{
    margin-bottom:20px;
}
.box p{
    color:white;
    opacity:0.75;
    line-height:1.6;
}
.box a{
    text-decoration: none;
    background-color: hsl(0, 0%, 95%);
    padding: 13px 27px;
    border-radius: 26px;
    margin-top: 70px;
    display: inline-block;
    border: 2px solid hsl(0, 0%, 95%);
    transition: all .4s ease-in-out;   
}
.box1 a{
    color:hsl(31, 77%, 52%);
}
.box a:hover{
    color:white;
    background:transparent;
}

.box2 a{
    color:hsl(184, 100%, 22%);
}
.box3 a{
    color:hsl(179, 100%, 13%);
}
.box1{
    background-color:hsl(31, 77%, 52%);
}

.box2{
    background-color:hsl(184, 100%, 22%);
}
.box3{
    background-color:hsl(179, 100%, 13%);
}
@media(max-width:900px){
    .wrapper{
        width:700px;
    }
}
@media(max-width:760px){
    .wrapper{
        grid-template-columns: 1fr;
        width:500px;
    }
}
@media(max-width:600px){
    .wrapper{
        background-color: black;
        width:350px;
        margin:2rem 0.5rem;
    }
}